---
import Layout from '@/layouts/Layout.astro';
import Form from '@/components/Form.astro';
---

<Layout>
	<div>
		<Form />
	</div>
</Layout>

<style>

	div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}


</style>