---
import PIPVideo from '@/components/PIPVideo.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<div class="container">
		<PIPVideo />
	</div>
</Layout>

<style>
	.container{
		width: 100%;
		height: 100%;
		max-width: 720px;
		margin: .1rem auto;
		padding: 0;
	}
</style>
